<!-- Footer -->
<div class="bg-secondary-bk mt-lg-height/2 pb-20">
    <div class="xl:max-w-5xl lg:max-w-4xl md:max-w-2xl px-5 mx-auto">
        <div class="flex justify-between transform -translate-y-1/2">
            <img class="lg:h-i-lg md:h-12 h-10" src="resources/icons/logo_rounded.svg" alt="Flow club icon">
            <div class="grid grid-cols-4 gap-x-3.5 items-center">
                <a href=""><img class="w-7" src="resources/icons/003_instagram.svg" alt="Instagram"></a>
                <a href=""><img class="w-7" src="resources/icons/002_twitter.svg" alt="Twitter"></a>
                <a href=""><img class="w-7" src="resources/icons/001_linkedin.svg" alt="LinkedIn"></a>
                <a href=""><img class="w-7" src="resources/icons/group_5.svg" alt="Instagram"></a>
            </div>
        </div>
        <hr class="border-white opacity-50 mb-lg-height/2">
        <div class="xl:flex xl:justify-between xl:text-left text-center md:px-0 px-5">
            <div>
                <div class="md:flex md:space-x-10 xl:justify-start md:justify-center grid grid-rows-2 md:grid-cols-none grid-flow-col md:w-auto w-3/4 gap-y-3 text-left">
                    <a class="text-gray-300 font-thin" href="#">Privacy Policy</a>
                    <a class="text-gray-300 font-thin" href="#">Terms of Service</a>
                    <a class="text-gray-300 font-thin" href="#">Contact</a>
                    <a class="text-gray-300 font-thin" href="#">Careers</a>
                </div>
                <div class="md:flex text-gray-300 mt-10 items-center xl:justify-start justify-center xl:text-base text-sm">
                    <span class="block pr-4 md:leading-8 md:border-r border-alt-slate xl:text-left md:text-center text-left"><b>flowclub</b> is SEBI registered <br class="md:block hidden"> &amp; licensed by AMFI</span>
                    <div class="flex space-x-3 items-center md:pl-4 md:mt-0 mt-5 text-left">
                        <img src="resources/icons/amfi.svg" alt="AMFI">
                        <span class="whitespace-nowrap leading-5">Association of Mutual <br>Funds in India <br> <b>ARN - 168501</b></span>
                    </div>
                </div>
            </div>
            <div class="xl:mt-0 mt-10">
                <span class="text-white opacity-20 md:text-base text-xs block">@ Solenya Investment Technologies, 2021</span>
                <span class="text-white block xl:mt-10 mt:mt-2 mt-6 text-sm xl:text-right">Built with ❤️ and lots of ☕️ in Kerala</span>
            </div>
        </div>
    </div>
</div>
<!-- Footer ends -->