<div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 max-w-xl mx-auto top-0 bg-white z-50 hidden w-1/2 h-auto rounded-3xl bg-primary-bk" id="modal">
    <a id="closeModal" class="absolute top-0 right-0 pr-5 pt-5 right-0 text-3xl xl:leading-3 text-gray-100 top-0 cursor-pointer">&times;</a>
    <div class="px-20 py-16 w-full text-left">
        <h2 id="modalTitle" class="hidden font-normal text-3xl text-primary-font"></h2>
        <p id="modalMessage" class="hidden font-light mt-5 text-gray-100 text-xl"></p>
        <div id="inputArea" class="hidden bg-white border-2 border-primary-btn inline-flex items-center mt-10 py-1.5 pr-1.5 pl-5 rounded-2xl w-11/12">
            <input type="text" id="userInput" class="focus:outline-none px-1 text-gray-800 w-full">
            <button id="userInputSubmit" class="bg-primary-btn text-gray-100 xl:px-5 xl:py-3 rounded-xl uppercase text-xs min-w-max">Submit</button>
        </div>
        <div id="successMessage" class="hidden"></div>
        <div id="modalLoader" class="hidden mt-5">
            <img class="animate-spin h-10 mx-auto" src="resources/assets/loader.png" alt="Loader">
        </div>
        <div id="modalErrorMessage" class="hidden ml-2 mt-2 text-alt-aurelium"></div>
    </div>
</div>

<div class="absolute inset-0 bg-black opacity-60 z-10 hidden" id="modalOverlay">

</div>