<div class="absolute max-w-lg mx-auto top-0 bg-white z-20 hidden" id="modal">
    <button id="closeModal" class="block">Close</button>
    <div>
        <h2 id="modalTitle" class="hidden"></h2>
        <div id="inputArea" class="hidden">
            <input type="text" id="userInput" >
            <button id="userInputSubmit">Submit</button>
        </div>
        <div id="successMessage" class="hidden"></div>
        <div id="modalLoader" class="hidden">Loading</div>
        <div id="modalErrorMessage" class="hidden"></div>
    </div>
</div>

<div class="absolute inset-0 bg-black opacity-60 z-10 hidden" id="modalOverlay">

</div>