<form id="{{ id }}">
    <div class="inline-flex bg-white items-center md:rounded-2xl rounded-xl border-2 border-primary-btn md:py-1.5 py-1 md:pr-1.5 pr-1 md:pl-5 pl-3 md:mx-auto {{ classList }}">
        <input id="{{ id }}-input" type="text" class="focus:outline-none w-full" placeholder="{{ placeHolderText ? placeHolderText : 'Enter your phone no.' }}" autocomplete="off">
        <button  type="submit" class="bg-primary-btn text-gray-100 md:rounded-xl rounded-lg uppercase text-xs md:px-5 px-3 md:py-3 py-2  min-w-max">Get Access</button>
    </div>
</form>