@tailwind base;

@tailwind components;

#navbar a {
    @apply hover:text-primary-font;
}

#footerLinks a {
    @apply hover:underline;
}

button, .btn {
    @apply active:bg-banner-bk hover:bg-btn-hover;
}

.ligature-off {
    font-variant-ligatures: none;
}

.feature-text h2 {
    @apply text-gray-50 xl:text-4xl lg:text-3xl md:text-2xl text-3xl font-bold;
}

.feature-text.feature-text-right p {
    @apply lg:w-3/4 text-gray-50 mt-5 leading-8 md:mr-auto xl:text-2xl lg:text-xl lg:leading-10;
}

.feature-text.feature-text-left p {
    @apply lg:w-3/4 text-gray-50 mt-5 leading-8 md:ml-auto xl:text-2xl lg:text-xl lg:leading-10;
}

@tailwind utilities;

@media screen and (min-width: 768px) {
    .phone {
        background-image: url("resources/icons/phone.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }   
}

@media screen and (min-width: 1024px) {
    .banner #text-part {
        background-image: url("resources/icons/banner-bg.svg");
        background-repeat: no-repeat;
        background-position: right;
    }
}