@tailwind base;

@tailwind components;

#navbar a {
    @apply hover:text-primary-font;
}

#footerLinks a {
    @apply hover:underline;
}

button, .btn {
    @apply active:bg-banner-bk hover:bg-btn-hover;
}

@tailwind utilities;

@media screen and (min-width: 768px) {
    .phone {
        background-image: url("resources/icons/phone.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }   
}

@media screen and (min-width: 1024px) {
    .banner #text-part {
        background-image: url("resources/icons/banner-bg.svg");
        background-repeat: no-repeat;
        background-position: right;
    }
}