@tailwind base;

@tailwind components;

@tailwind utilities;



@media screen and (min-width: 1024px) {
    .phone {
        background-image: url("resources/icons/phone.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }   
    .banner #text-part {
        background-image: url("resources/icons/banner-bg.svg");
        background-repeat: no-repeat;
        background-position: right;
    }
}